<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/addproduct.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <div class="contentBox">
            <div class="form-wrapper">
                <h1 class="title">Add product</h1>
                <form class="form" action="/admin/<%= editing ? 'edit-product' : 'add-product' %>" method="POST">
                    <div class="form-control">
                        <input class="input" type="text" name="title" value="<%= editing ? product.title : '' %>" id="title">
                        <label for="title" class="label">Enter the title</label>
                    </div>
                    <div class="form-control">
                        <input class="input" type="text" name="imageUrl" value="<%= editing ? product.imageUrl : '' %>" id="imageUrl">
                        <label for="imageUrl" class="label">Image URL</label>
                    </div>
                    <div class="form-control">
                        <input class="input"
                        type="number" name="price" step="0.01" id="price"
                        value="<%= editing ? product.price : '' %>">
                        <label for="price" class="label">Enter the price</label>
                    </div>
                    <div class="form-control">
                        <textarea class="input" type="text" name="description" id="description"><%= editing ? product.description : '' %></textarea>
                        <label for="description" class="label">Enter the description</label>
                    </div>
                    <% if (editing) { %>
                        <input type="hidden" name="productId" value="<%= product.id %>">
                     <% } %>
                    
                    <button class="btnAdd"type="submit"><%= editing ? 'Update product' : 'Add new product' %></button>
                </form>
            </div>
        </div>
    </main>
<%- include('../includes/end.ejs') %>