<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/card.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <div class="contentBox">
            <% if (prods.length > 0) { %>
                <% for(let product of prods) { %>
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title"><%= product.title %></h3>
                    </div>
                    <div class="card-image-box">
                        <img src="<%= product.imageUrl %>" alt="<%= product.title %>" class="card-image">
                    </div>
                    <div class="card-content">
                        <p class="card-description"><%= product.description %></p>
                    </div>
                    <div class="card-content">
                        <h3 class="card-price">
                            $<%= product.price %>
                        </h3>
                    </div>
                    <div class="card-actions">
                        <a href="/admin/edit-product/<%= product.id %>" class="btn">Edit</a>
                        <form action="/admin/delete-product" method="POST">
                            <input type="hidden" name="productId" value="<%= product.id %>">
                            <button class="btn" type="submit">Delete</button>
                        </form>
                    </div>
                </div>
                <% } %>
                <% } else { %>
                    <h3 class="empty-content">You are no any card yet</h3>
                <% } %>
        </div>
    </main>
<%- include('../includes/end.ejs') %>