<header class="header">
    <div class="logo"><a href="/" class="link-logo">Shop</a></div>
    <nav class="nav">
        <div class="list-item">
            <a href="/" class="<%= path === '/' ? 'active' : ''%> link">catalog</a>
        </div>
        <div class="list-item">
            <a href="/products" class="<%= path === '/products' ? 'active' : ''%> link">Products</a>
        </div>
        <div class="list-item">
            <a href="/cart" class="<%= path === '/cart' ? 'active' : ''%> link">Cart</a>
        </div>
        <div class="list-item">
            <a href="/orders" class="<%= path === '/orders' ? 'active' : ''%> link">Orders</a>
        </div>
        <div class="list-item">
            <a href="/admin/add-product" class="<%= path === '/admin/add-product' ? 'active' : ''%> link">add product</a>
        </div>
        <div class="list-item">
            <a href="/admin/products" class="<%= path === '/admin/products' ? 'active' : ''%> link">admin products</a>
        </div>
    </nav>
</header>