<%- include('includes/head.ejs') %>
</head>
<body>
    <%- include('includes/navigation.ejs') %>
    <main> 
        <h1 class="title-404">Sorry! Page not found!</h1>
    </main>
<%- include('includes/end.ejs') %>