main .contentBox .form-wrapper .title {
    font-size: 38px;
    color: rgb(44, 46, 48);
    text-align: center;
    margin: 0 0 40px;
}
main .contentBox .form-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main .contentBox .form-wrapper .form {
    display: flex;
    align-items: center;
    flex-direction: column;
}
main .contentBox .form-wrapper .form .form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    position: relative;
}
main .contentBox .form-wrapper .form .form-control .input:active + .label,
main .contentBox .form-wrapper .form .form-control .input:focus + .label,
main .contentBox .form-wrapper .form .form-control .input:hover + .label {
    position: absolute;
    top: -17px;
    left: 5px;
    color: rgb(180, 157, 131);
    font-size: 14px;
}
main .contentBox .form-wrapper .form .form-control .label {
    position: absolute;
    top: -8px;
    left: 5px;
    color: rgb(37, 38, 39);
    font-size: 12px;
    letter-spacing: 0.3px;
    transition: all 0.2s;
    z-index: 2;
    transition: 0.3s;
}
main .contentBox .form-wrapper .form .form-control .label:before {
    position: absolute;
    content: '';
    bottom: 6px;
    left: 0px;
    width: 100%;
    height: 2px;
    background-color: rgb(238, 237, 237);
    z-index: -1;
}
main .contentBox .form-wrapper .form .form-control .input {
    border: 1px solid rgb(44, 46, 48);
    border-radius: 4px;
    padding: 5px 10px;
    /* background-color: rgb(238, 237, 237); */
}
main .contentBox .form-wrapper .form .form-control .input:focus,
main .contentBox .form-wrapper .form .form-control .input:active {
    outline: none;
    box-shadow: none;
}
main .contentBox .form-wrapper .form .btnAdd {
    border: 1px solid rgb(44, 46, 48);
    border-radius: 4px;
    padding: 5px 10px;
    background-color: bisque;
    color: rgb(44, 46, 48);
    transition: 0.3s;
    margin-left: 15px;
}
main .contentBox .form-wrapper .form .btnAdd:hover {
    border: 1px solid rgb(44, 46, 48);
    border-radius: 4px;
    padding: 5px 10px;
    background-color: rgb(44, 46, 48);
    color: bisque;
}