main .contentBox .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 280px;
    margin: 10px;
    border: 1px solid #dfdfdf;
    border-radius: 6px;
    box-shadow: 0 0 7px #dddbdbb2;
    background-color: #fcfafa;
    box-sizing: border-box;
}
main .contentBox .card .card-header {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: #fcfafa;
}
main .contentBox .card .card-header .card-title {
    text-align: center;
}
main .contentBox .card .card-content {
    padding: 10px;
}
main .contentBox .card .card-image-box .card-image {
    width: 100%;
    height: auto;
    margin: 0 auto;
}
main .contentBox .card .card-content .card-description {
    text-align: center;
    font-size: 18px;
}
main .contentBox .card .card-content .card-price {
    margin: 0;
    font-size: 44px;
    font-weight: bold;
    text-align: center;
    color: rgba(95, 95, 95, 0.85);
    transition: 0.3s;
}
main .contentBox .card .card-actions {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px;
}
main .contentBox .card .card-actions .btn {
    border: 1px solid rgb(44, 46, 48);
    border-radius: 4px;
    padding: 5px 10px;
    background-color: bisque;
    color: rgb(44, 46, 48);
    font-family: serif;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s;
    margin-left: 10px;
    cursor: pointer;
}
main .contentBox .card .card-actions .btn:hover,
main .contentBox .card .card-actions .btn:active {
    border: 1px solid bisque;
    border-radius: 4px;
    padding: 5px 10px;
    background-color: rgb(44, 46, 48);
    color: bisque;
}