main .contentBox .cart {
    width: 100%;
    display: flex;
    flex-direction: column;
}
main .contentBox .cart .cart-item {
    display: flex;
    background-color: #fcfafa;
    margin-bottom: 10px;
    border: 1px solid #cecece;
    border-radius: 5px;
    box-shadow: 6px 5px 10px rgba(0, 0, 0, 0.1);
}
main .contentBox .cart .cart-item-head {
    display: flex;
    background-color: #fcfafa;
    margin-bottom: 5px;
    border: 1px solid #cecece;
    border-radius: 5px;
    box-shadow: 6px 5px 10px rgba(0, 0, 0, 0.1);
}

main .contentBox .cart .cart-item .cart-col {
    width: 100%;
    display: flex;
    align-items: center;
    border-left: 1px solid #cecece;
}
main .contentBox .cart .cart-item-head .cart-col {
    width: 100%;
    display: flex;
    align-items: center;
    border-left: 1px solid #cecece;
}
main .contentBox .cart .cart-item .cart-col:first-child,
main .contentBox .cart .cart-item .cart-col:last-child {
    width: 100%;
    max-width: 80px;
    justify-content: center;
    background-color: #f2f2f2;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
main .contentBox .cart .cart-item-head .cart-col:first-child,
main .contentBox .cart .cart-item-head .cart-col:last-child {
    width: 100%;
    max-width: 80px;
    justify-content: center;
    background-color: #f2f2f2;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 0;
}

main .contentBox .cart .cart-item .cart-col:first-child {
    border-left: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 0;
}
main .contentBox .cart .cart-item-head .cart-col:first-child {
    border-left: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

main .contentBox .cart .cart-item .cart-col .cart-item-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
}
main .contentBox .cart .cart-item .cart-col .cart-item-image img {
    width: 100%;
    height: auto;
    margin: auto;
}

main .contentBox .cart .cart-item .cart-col .cart-info {
    padding: 0 15px;
}
main .contentBox .cart .cart-item-head .cart-col .cart-info {
    padding: 8px 15px;
    margin: 0;
}

main .contentBox .cart .cart-item-footer {
    display: flex;
    justify-content: flex-end;
    background-color: #fcfafa;
    border: 1px solid #cecece;
    border-radius: 5px;
    box-shadow: 6px 5px 10px rgba(0, 0, 0, 0.1);
}
main .contentBox .cart .cart-item-footer .cart-col {
    display: flex;
    align-items: center;
    padding: 0 15px;
}
main .contentBox .cart .cart-item-footer .cart-col .cart-info-title {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 15px 10px 0;
}
main .contentBox .cart .cart-item-footer .cart-col .cart-info {
    font-size: 18px;
    font-weight: bold;
    color: rgb(94, 84, 72);
    margin: 0;
}

main .contentBox .card .card-actions {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px;
}
main .contentBox .card .card-actions .btn {
    border: 1px solid rgb(44, 46, 48);
    border-radius: 4px;
    padding: 5px 10px;
    background-color: bisque;
    color: rgb(44, 46, 48);
    font-family: serif;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s;
    margin-left: 10px;
    cursor: pointer;
}
main .contentBox .card .card-actions .btn:hover,
main .contentBox .card .card-actions .btn:active {
    border: 1px solid bisque;
    border-radius: 4px;
    padding: 5px 10px;
    background-color: rgb(44, 46, 48);
    color: bisque;
}