main .contentBox.contentBox-details {
    justify-content: center;
}
main .contentBox .details {
    width: 100%;
    display: flex;
    flex-direction: column;
}
main .contentBox .details hr {
    width: 100%;
    margin-bottom: 20px;
}
main .contentBox .details .details-header .details-title {
    text-align: center;
}
main .contentBox .details .details-content {
    padding: 10px;
}
main .contentBox .details .details-image-box {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
}
main .contentBox .details .details-image-box .details-image {
    width: 100%;
    height: auto;
    margin: 0 auto;
}
main .contentBox .details .details-content .details-description {
    text-align: center;
    font-size: 18px;
}
main .contentBox .details .details-content .details-price {
    margin: 0;
    font-size: 44px;
    font-weight: bold;
    text-align: center;
    color: rgba(95, 95, 95, 0.85);
    transition: 0.3s;
}
main .contentBox .details .details-actions {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
}
main .contentBox .details .details-actions .btn {
    border: 1px solid rgb(44, 46, 48);
    border-radius: 4px;
    padding: 5px 10px;
    background-color: bisque;
    color: rgb(44, 46, 48);
    font-family: serif;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
}
main .contentBox .details .details-actions .btn:hover,
main .contentBox .details .details-actions .btn:active {
    border: 1px solid bisque;
    border-radius: 4px;
    padding: 5px 10px;
    background-color: rgb(44, 46, 48);
    color: bisque;
}