body {
    margin: 0;
}
.title {
    text-align: center;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: rgb(44, 46, 48);
}
.header .logo {
    display: flex;
    align-items: center;
}
.header .logo .link-logo {
    color: bisque;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
}
.header .nav {
    display: flex;
    color: bisque;
}
.header .nav .list-item {
    padding: 10px;
}
.header .nav .list-item .link {
    color: rgb(180, 157, 131);
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    text-transform: capitalize;
    position: relative;
}
.header .nav .list-item .link.active:before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: bisque;
}
.header .nav .list-item .link.active {
    color: bisque;
}
main {
    height: calc(100vh - 73px);
    margin-top: 73px;
    background-color: rgb(238, 237, 237);
}
main .title {
    color: rgb(44, 46, 48);
    text-align: center;
}
main .title-404 {
    color: rgb(44, 46, 48);
    text-align: center;
    margin-top: 50px;
}
main .contentBox {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}