<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/cart-info.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <div class="contentBox">
            <% if (prods.length > 0) { %>
            <div class="cart">
                <%- include('../includes/title.ejs') %>
                <div class="cart-item-head">
                    <div class="cart-col">
                        
                    </div>
                    <div class="cart-col">
                        <p class="cart-info">title</p>
                    </div>
                    <div class="cart-col">
                        <p class="cart-info">description</p>
                    </div>
                    <div class="cart-col">
                        <p class="cart-info">price</p>
                    </div>
                    <div class="cart-col">
                        <p class="cart-info">quantity</p>
                    </div>
                    <div class="cart-col">
                        <p class="cart-info">action</p>
                    </div>
                </div>
                
                    <% for(let product of prods) { %>
                    <div class="cart-item">
                        <div class="cart-col">
                            <div class="cart-item-image">
                                <img src="<%= product.productData.imageUrl %>" alt="<%= product.productData.title %>">
                            </div>
                        </div>
                        <div class="cart-col">
                            <p class="cart-info"><%= product.productData.title %></p>
                        </div>
                        <div class="cart-col">
                            <p class="cart-info"><%= product.productData.description %></p>
                        </div>
                        <div class="cart-col">
                            <p class="cart-info">$ <%= product.productData.price %></p>
                        </div>
                        <div class="cart-col">
                            <p class="cart-info"><%= product.qty %></p>
                        </div>
                        <div class="cart-col">
                            <form action="/delete-cart-product" method="POST">
                                <input type="hidden" name="productId" value="<%= product.productData.id %>">
                                <button class="btn" type="submit">Delete</button>
                            </form>
                        </div>
                    </div>
                    <% } %>
                    
                <div class="cart-item-footer">
                    <div class="cart-col">
                        <h3 class="cart-info-title">Total price:</h3>
                        <p class="cart-info">$<%= cart.totalPrice %></p>
                    </div>
                </div>
            </div>
            <% } else { %>
                <h3 class="empty-content">You are no any card yet</h3>
        <% } %>
        </div>
    </main>
    <%- include('../includes/end.ejs') %>