<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/card.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <div class="contentBox">
            <h3 class="empty-content">Nothing there!</h3>
        </div>
    </main>
    <%- include('../includes/end.ejs') %>