<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/details.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <div class="contentBox contentBox-details">
            <div class="details">
                <div class="details-header">
                    <h3 class="details-title"><%= product.title %></h3>
                </div>
                <hr/>
                <div class="details-image-box">
                    <img src="<%= product.imageUrl %>" alt="<%= product.title %>" class="details-image">
                </div>
                <div class="details-content">
                    <h3 class="details-price">$<%= product.price %></h3>
                </div>
                <div class="details-content">
                    <p class="details-description"><%= product.description %></p>
                </div>
                <div class="details-actions">
                    <%- include('../includes/add-to-cart.ejs', {
                        product: product
                    }) %>
                </div>
            </div>
        </div>
    </main>
    <%- include('../includes/end.ejs') %>